@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Contact me:</strong>   <a href="mailto:aptajosh@gmail.com">aptajosh@gmail.com</a><br />
</address>